.principal{
	background-image: url("../img/conduce.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;	
}

.bienvenida{
	background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	height: 101vh;
    width: 100%;
}
